nav {
  border-top: 1px solid var(--indigo-5);
  border-bottom: 1px solid var(--indigo-5);
  background-color: var(--blue-1);
  position: sticky;
  z-index: 1;
  top: 0;
}
nav ul {
  list-style-type: none;
  display: grid;
  place-content: center;
  padding: 0 30vw 0 30vw;
  gap: 0rem 1rem;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 700px) {
  
}

@media (min-width: 701px) {
  .dropdown {
    position: relative;
    &:hover .dropdown-content {
      display: block;
    }
  }
}

nav ul li {
  display: inline-block;
  padding: 0;
}

.dropdown-content {
  text-decoration: none;
}

.dropdown-menu {
  display: flex;
  justify-content: center;
}

.dropdown-menu a,
.dropdown-content a {
  width: 6rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-2);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-6);
  text-decoration: none;
  color: var(--indigo-4);
  cursor: pointer;
  &:hover {
    background-color: var(--blue-3);
    color: var(--indigo-1);
    box-shadow: 0.1rem 0.5rem 0.5rem 0.1rem hsl(201, 87%, 49%);
    border: 1px solid var(--indigo-5);
  }
}

.nav-icon {
  height: 2.2rem;
}

.dropdown-menu a:hover .nav-icon {
  filter: brightness(0) saturate(100%) invert(84%) sepia(11%) saturate(661%)
    hue-rotate(194deg) brightness(103%) contrast(106%);
}

.dropdown-content {
  position: absolute;
  display: none;
  background-color: var(--blue-1);
  border: 1px solid var(--indigo-5);
  left: 50%;
  transform: translateX(-50%);
}