nav {
  border-top: 1px solid var(--indigo-5);
  border-bottom: 1px solid var(--indigo-5);
  background-color: var(--blue-1);
  position: sticky;
  z-index: 1;
  top: 0;
}
nav ul {
  list-style-type: none;
  display: grid;
  place-content: center;
  padding: 0 30vw 0 30vw;
  grid-template-columns: repeat(4, 1fr);
}

nav ul li {
  display: inline-block;
  width: clamp(4rem, 22vw, 10rem);
  height: clamp(2.5rem, 5vw, 3rem);
  &:hover {
    background-color: var(--blue-3);
    box-shadow: 0.1rem 0.5rem 0.5rem 0.1rem hsl(201, 87%, 49%);
    border: 1px solid var(--indigo-5);
    .dropdown-menu a {
      color: var(--indigo-1);
    }
  }
}

.dropdown {
  margin: 0;
  padding: 0;
  position: relative;
  &:hover .dropdown-content {
    display: block;
  }
}

.dropdown-menu {
  display: flex;
  justify-content: center;
  width: clamp(4rem, 22vw, 10rem);
}

.dropdown-menu a:hover .nav-icon {
  filter: brightness(0) saturate(100%) invert(84%) sepia(11%) saturate(661%) hue-rotate(194deg) brightness(103%)
    contrast(106%);
}

.dropdown-menu a,
.dropdown-content a {
  width: clamp(4rem, 22vw, 10rem);
  height: clamp(2.5rem, 5vw, 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-2);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-6);
  text-decoration: none;
  color: var(--indigo-4);
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: var(--blue-3);
  box-shadow: 0.1rem 0.5rem 0.5rem 0.1rem hsl(201, 87%, 49%);
  border: 1px solid var(--indigo-5);
  color: var(--indigo-1);
}

.dropdown-content {
  text-decoration: none;
  width: clamp(4rem, 22vw, 10rem);
}

.dropdown-content {
  position: absolute;
  display: none;
  background-color: var(--blue-1);
  border: 1px solid var(--indigo-5);
  left: 50%;
  transform: translateX(-50%);
}

.nav-icon {
  height: 2.2rem;
}