/* the props */
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";
@import "https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap";

header {
  padding: var(--size-fluid-1);
  display: grid;
  place-content: center;
}


button {
  padding: var(--size-fluid-1);
  margin: var(--size-fluid-2);
  inline-size: var(--size-relative-15);
  font-size: var(--font-size-2);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: var(--indigo-4);
  border: var(--border-size-1) solid var(--indigo-4);
  background-color: var(--stone-3);
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-4);
  animation: slide-in-up 1s var(--ease-3);
  --_ink-shadow-light: none;
  --_ink-shadow-dark: none;
  &:hover {
    background-color: var(--blue-1);
  }
}

p {
  max-inline-size: 100%;
  margin: 0.5rem 0 0.5rem 1.5rem;
}

a {
  text-decoration: none;
  text-decoration-line: none;
}

.grid-container {
  display: grid;
  max-width: 1000px;
  margin: 1rem auto;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
}
.grid-container > :nth-child(n + 3) {
  grid-column: span 2;
}

.grid-item {
  margin: var(--size-fluid-1);
  line-height: var(--size-6);
  text-align: left;
  background-color: transparent;
  color: var(--indigo-4);
}

.horizontal-divider {
  border-bottom: 1px solid var(--indigo-4);
}

.button-grid {
  display: grid;
  place-content: center;
}

.body-background {
  background-color: hsl(201, 71%, 88%);
}

.main-theme {
  max-width: 900px;
  margin: 0 auto;
  color: var(--indigo-10);
}

#entranceBody {
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1517857399767-a9dc28f5a734?q=80&w=2400&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#mainBody {
  /* background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1591209608777-fb022eac7112?q=80&w=2997&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-color: hsl(201, 71%, 88%);
}

#entranceTitle,
header,
header a {
  font-size: var(--font-size-fluid-3);
  font-weight: var(--font-weight-8);
  font-family: "Abril Fatface", serif;
  font-style: normal;
  color: var(--indigo-4);
  letter-spacing: var(--font-letterspacing-3);
  text-decoration: none;
}

#entranceTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

#mainHeader {
  animation: slide-in-down 1s var(--ease-3);
}

#aboutImg {
  max-width: 9rem;
  margin-top: 2rem;
}

#imagePlace {
  max-width: 9rem;
  margin: 1rem auto 1rem auto;
}
