/* the props */
@import "https://unpkg.com/open-props";
@import 'https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap';



body {
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1517857399767-a9dc28f5a734?q=80&w=2400&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

}
.title {
    font-size: var(--font-size-fluid-3);
    font-weight: var(--font-weight-8);
    font-family: "Abril Fatface", serif;
    font-style: normal;
    letter-spacing: var(--font-letterspacing-3);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;   
}
a {
    text-decoration: none;
    color:var(--blue-10)
}